# Server Nexus API
pages/api/nexus-typegen.ts
pages/api/schema.graphql

# Service Worker generated
public/service-worker.js
public/workbox-*

# Favicons generated
public/assets/*

# Env files
.env.local
.env.development.local
.env.production.local

# Dependencies
node_modules

# yarn
yarn-error.log

# Dist
dist
build
.next
out

# OS
.DS_Store

# Development Environment
.vscode

# Logs
runtime.log